@model CountryViewModel

<h2>Country Details</h2>

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <ul class="list-group text-center">
            <li class="list-group-item">
                <img src="~/Resources/96x96/@(Model.Abbr).png" alt="@(Model.Name) flag" />
                <h3>@Model.Name</h3>
            </li>
            <li class="list-group-item">
                <h4>Games: @Model.Game</h4>
            </li>
            <li class="list-group-item">
                <h4>Sport: @Model.Sport</h4>
            </li>
            <li class="list-group-item">
                <h4>Category: @Model.Category</h4>
            </li>
            <li class="list-group-item">
                <form asp-action="Add" method="post">
                    <a asp-action="Index" class="btn btn-primary"
                            asp-route-game="@Model.ActiveGame" 
                            asp-route-category="@Model.ActiveCategory">Return to Home Page</a>
                    <button type="submit" class="btn btn-primary">Add to Favorites</button>
                    <input type="hidden" asp-for="Name" />
                </form>
            </li>
        </ul>
    </div>
</div>
