@model IEnumerable<Report>

@{
    ViewData["Title"] = "DocSearch";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DocSearch</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td>
                    @report.ReportType.Name
                </td>
                <td>
                    @report.Name
                </td>
                <td>
                    @report.Author
                </td>
                <td>
                    @report.Date
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@report.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
