@model IEnumerable<Report>

@{
    ViewData["Title"] = "DocSearch";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DocSearch</h1>
</div>

<form asp-controller="Home" asp-action="Index" method="get">
    <p>
        Report Contents: <input type="text" name="searchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<a asp-controller="Home" asp-action="Index">Reset</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var report in Model)
        {
            <tr>
                <td data-toggle="tooltip" data-html="true" data-placement="bottom" title="@report.Headings">
                    @report.ReportType.Name
                </td>
                <td>
                    @report.Name
                </td>
                <td>
                    @report.Author
                </td>
                <td>
                    @report.Date.ToShortDateString()
                </td>
                <td>
                    <a asp-action="Display" asp-route-id="@report.ID" target="_blank">Display</a> | 
                    <a asp-action="Download" asp-route-id="@report.ID">Download</a>
                </td>
            </tr>
        }
    </tbody>
</table>
